@import url('file:///home/hieroja/.cache/wal/colors.css');

@media (prefers-color-scheme: dark) {
	
    :root {
    --bg-color: #10171e;
    --fg-color: #cfdceb;
    --black1-color: #333a48;
    --black2-color: #abb2bf;
    --red1-color: #cd222f;
    --red2-color: #f3170d;
    --green-color: #0bde96;
    --yellow-color: #ee8109;
    --blue-color: #549dbc;
    --magneta-color: #c91b8e;
    --cyan-color: #0ba3a4;
    --white-color: #d3dde8;
	}
}
