.directory
.stfolder
.stignore
*.kate-swp
__pycache__
.env/
.config/Code/*
!.config/Code/User/settings.json
!.config/Code/User/keybindings.json

scripts/*
!scripts/pywal
!scripts/kde
!scripts/applications

.mozilla/*
!.mozilla/user.js
!.mozilla/chrome/*