
.panel-subview-body,
#appMenu-zoomReset-button,
.panel-header,
.subviewbutton.panel-subview-footer,
tooltip,
menuitem, menu,
menuitem > .menu-text, menuitem > .menu-iconic-text,
#statuspanel #statuspanel-label,
.tab-content, /* tab */
#PlacesToolbar, /* Bookmarktoolbar */
#urlbar, 
.urlbarView, /* URLBAR DROPDOWN MENU */
#bookmarks-view,
#historyTree,
#history-panel,
#sidebar-header,
#search-box {
  -moz-appearance: none !important;
  font-family: "SF Pro Display" !important; /*SF Pro Rounded*/
  font-size: 10pt !important;
  font-weight: 500 !important;
}