@import "colors/pare-colors.css";

:root{

  --color-black-a10: var(--black1-color) !important;/*rgba(0, 0, 0, 0.1); */
  --color-blue-05: #deeafc;
  --color-blue-30: var(--blue-color) !important;
  --color-blue-50: var(--blue-color) !important;
  --color-blue-60: var(--blue-color) !important;
  --color-blue-70: var(--blue-color) !important;
  --color-blue-80: var(--blue-color) !important;
  --color-cyan-20: var(--cyan-color) !important;
  --color-cyan-30: var(--cyan-color) !important;
  --color-cyan-50: var(--cyan-color) !important;
  --color-gray-05: #fbfbfe;
  --color-gray-50: var(--black1-color) !important;
  --color-gray-60: var(--black1-color) !important;
  --color-gray-70: var(--black1-color) !important;
  --color-gray-80: var(--black1-color) !important;
  --color-gray-90: var(--bg-color) !important;
  --color-gray-100: var(--bg-color) !important;
  --color-green-05: var(--green-color) !important;
  --color-green-30: var(--green-color) !important;
  --color-green-50: var(--green-color) !important;
  --color-green-80: var(--green-color) !important;
  --color-red-05: #ffe8e8;
  --color-red-10: #ffbdc5;
  --color-red-20: #ff9aa2;
  --color-red-30: #f37f98;
  --color-red-50: #d7264c;
  --color-red-60: #ac1e3d;
  --color-red-70: #8a1831;
  --color-red-80: #690f22;
  --color-white: #ffffff;
  --color-yellow-05: #ffebcd;
  --color-yellow-30: #e49c49;
  --color-yellow-50: #cd411e;
  --color-yellow-80: #5a3100;

  --newtab-background-color-secondary: var(--black1-color) !important;
  --newtab-background-color: var(--black1-color) !important;
  --in-content-button-background: var(--black1-color) !important;
  --in-content-icon-color: var(--fg-color) !important;
  --in-content-border-color: var(--black2-color) !important;
  --in-content-border-hover: var(--fg-color) !important;
  --in-content-page-background: var(--bg-color) !important;
  --in-content-box-background: var(--black1-color) !important;
  --newtab-contextual-text-primary-color: var(--fg-color) !important;
  --global-font: "SF Pro Display";

}

@-moz-document url("about:home"), url("about:blank"), url("about:newtab"), url("about:privatebrowsing"), url("about:preferences"), url("about:config") {
  body {background: var(--bg-color) !important}
  
}

@-moz-document media-document(image) {
  html {
    background-image: none !important;
  }
}

* {
  scrollbar-color: var(--blue-color) var(--bg-color) !important;
}

