@layer tokens-foundation {
  :root,
  :host(.anonymous-content-host) {
    /** Color **/
    --text-color: var(--foreground) !important;

    --color-gray-05:  var(--blue5) !important; /* accent color (?) */
    --color-gray-20:  var(--background) !important;
    --color-gray-30:  var(--black1) !important;
    --color-gray-50:  var(--black2) !important;
    --color-gray-60:  var(--yellow5) !important;
    --color-gray-70:  var(--grey5) !important;
    --color-gray-80:  var(--backgroundLighter) !important; /* Second most important */
    --color-gray-90:  var(--background) !important; /* This is the most important color */
    --color-gray-100: var(--blue5) !important;
    
    --color-black: #000000 !important;
    --color-black-alpha-10: oklch(0 0 0 / 10%);
    --color-black-alpha-20: oklch(0 0 0 / 20%);
    --color-black-alpha-30: oklch(0 0 0 / 30%);
    --color-black-alpha-40: oklch(0 0 0 / 40%);
    --color-black-alpha-50: oklch(0 0 0 / 50%);
    --color-black-alpha-60: oklch(0 0 0 / 60%);
    --color-black-alpha-70: oklch(0 0 0 / 70%);
    --color-black-alpha-80: oklch(0 0 0 / 80%);
    --color-black-alpha-90: oklch(0 0 0 / 90%);
    --color-blue-0:   var(--blue5) !important;
    --color-blue-10:  var(--blue5) !important;
    --color-blue-20:  var(--blue5) !important;
    --color-blue-30:  var(--blue5) !important;
    --color-blue-40:  var(--blue5) !important;
    --color-blue-50:  var(--blue5) !important;
    --color-blue-60:  var(--blue5) !important;
    --color-blue-70:  var(--blue5) !important;
    --color-blue-80:  var(--blue5) !important;
    --color-blue-90:  var(--blue5) !important;
    --color-blue-100: var(--blue5) !important;
    --color-blue-110: var(--blue5) !important;
    --color-cyan-0:   var(--cyan5) !important;
    --color-cyan-10:  var(--cyan5) !important;
    --color-cyan-20:  var(--cyan5) !important;
    --color-cyan-30:  var(--cyan5) !important;
    --color-cyan-40:  var(--cyan5) !important;
    --color-cyan-50:  var(--cyan5) !important;
    --color-cyan-60:  var(--cyan5) !important;
    --color-cyan-70:  var(--cyan5) !important;
    --color-cyan-80:  var(--cyan5) !important;
    --color-cyan-90:  var(--cyan5) !important;
    --color-cyan-100: var(--cyan5) !important;
    --color-cyan-110: var(--cyan5) !important;
    --color-green-0:   var(--green5) !important;
    --color-green-10:  var(--green5) !important;
    --color-green-20:  var(--green5) !important;
    --color-green-30:  var(--green5) !important;
    --color-green-40:  var(--green5) !important;
    --color-green-50:  var(--green5) !important;
    --color-green-60:  var(--green5) !important;
    --color-green-70:  var(--green5) !important;
    --color-green-80:  var(--green5) !important;
    --color-green-90:  var(--green5) !important;
    --color-green-100: var(--green5) !important;
    --color-green-110: var(--green5) !important;
    --color-orange-0: lime !important;
    --color-orange-10: lime !important;
    --color-orange-20: lime !important;
    --color-orange-30: lime !important;
    --color-orange-40: lime !important;
    --color-orange-50: lime !important;
    --color-orange-60: lime !important;
    --color-orange-70: lime !important;
    --color-orange-80: lime !important;
    --color-orange-90: lime !important;
    --color-orange-100:lime !important;
    --color-orange-110:lime !important;
    --color-pink-0:   var(--magenta5) !important;
    --color-pink-10:  var(--magenta5) !important;
    --color-pink-20:  var(--magenta5) !important;
    --color-pink-30:  var(--magenta5) !important;
    --color-pink-40:  var(--magenta5) !important;
    --color-pink-50:  var(--magenta5) !important;
    --color-pink-60:  var(--magenta5) !important;
    --color-pink-70:  var(--magenta5) !important;
    --color-pink-80:  var(--magenta5) !important;
    --color-pink-90:  var(--magenta5) !important;
    --color-pink-100: var(--magenta5) !important;
    --color-pink-110: var(--magenta5) !important;
    --color-purple-0: green !important;
    --color-purple-10: green !important;
    --color-purple-20: green !important;
    --color-purple-30: green !important;
    --color-purple-40: green !important;
    --color-purple-50: green !important;
    --color-purple-60: green !important;
    --color-purple-70: green !important;
    --color-purple-80: green !important;
    --color-purple-90: green !important;
    --color-purple-100:green !important;
    --color-purple-110:green !important;
    --color-red-0:   var(--red5) !important;
    --color-red-10:  var(--red5) !important;
    --color-red-20:  var(--red5) !important;
    --color-red-30:  var(--red5) !important;
    --color-red-40:  var(--red5) !important;
    --color-red-50:  var(--red5) !important;
    --color-red-60:  var(--red5) !important;
    --color-red-70:  var(--red5) !important;
    --color-red-80:  var(--red5) !important;
    --color-red-90:  var(--red5) !important;
    --color-red-100: var(--red5) !important;
    --color-red-110: var(--red5) !important;
    --color-violet-0: red !important;
    --color-violet-10: red !important;
    --color-violet-20: red !important;
    --color-violet-30: red !important;
    --color-violet-40: red !important;
    --color-violet-50: red !important;
    --color-violet-60: red !important;
    --color-violet-70: red !important;
    --color-violet-80: red !important;
    --color-violet-90: red !important;
    --color-violet-100:red !important;
    --color-violet-110:red !important;
    --color-white: #ffffff;
    --color-white-alpha-10: oklch(1 0 0 / 10%);
    --color-white-alpha-20: oklch(1 0 0 / 20%);
    --color-white-alpha-30: oklch(1 0 0 / 30%);
    --color-white-alpha-40: oklch(1 0 0 / 40%);
    --color-white-alpha-50: oklch(1 0 0 / 50%);
    --color-white-alpha-60: oklch(1 0 0 / 60%);
    --color-white-alpha-70: oklch(1 0 0 / 70%);
    --color-white-alpha-80: oklch(1 0 0 / 80%);
    --color-white-alpha-90: oklch(1 0 0 / 90%);
    --color-yellow-0:   var(--yellow5) !important;
    --color-yellow-10:  var(--yellow5) !important;
    --color-yellow-20:  var(--yellow5) !important;
    --color-yellow-30:  var(--yellow5) !important;
    --color-yellow-40:  var(--yellow5) !important;
    --color-yellow-50:  var(--yellow5) !important;
    --color-yellow-60:  var(--yellow5) !important;
    --color-yellow-70:  var(--yellow5) !important;
    --color-yellow-80:  var(--yellow5) !important;
    --color-yellow-90:  var(--yellow5) !important;
    --color-yellow-100: var(--yellow5) !important;
    --color-yellow-110: var(--yellow5) !important;
  }
}