/*
 * Theme source ~/.config/wal/templates/colors-obsidian.css
 * To inspect css source, press ctrl+shift+i
 */
.theme-dark {{

  --background-primary: {background} !important;
  --background-secondary: {backgroundAlt} !important;
  --titlebar-background-focused: {backgroundAlt} !important;
  --background-modifier-form-field: {surface} !important;
  --background-modifier-border-focus: {borderFocus}33 !important;
  --divider-color: {border} !important;
  --background-modifier-cover: {backgroundAlt} !important;
  --prompt-border-color: {border} !important;
  --layer-1: {surface} !important;
  --background-modifier-border: {border} !important;
  --interactive-normal: var(--layer-1) !important;
  --text-faint: {textDisabled} !important;
  --background-modifier-border-hover: {accentSubtle} !important;
  --indentation-guide-color: {borderSubtle} !important;
  --indentation-guide-color-active: {borderFocus}77 !important;

  /* markdown headings colours */
  --text-title-h1: {foreground};
  --text-title-h2: {foreground};
  --text-title-h3: {foreground};
  --text-title-h4: {foreground};
  --text-title-h5: {foreground};
  --text-title-h6: {foreground};

  /*colour palette*/
  --red: {error};
  --orange: {warning};
  --green: {success};
  --aqua: {accent};
  --purple: {magenta5};
  --blue: {accent};
  --yellow: {warning};

  /*hyperlinks colour*/
  --text-accent: {textLink};
  /*hyperlinks colour on hover ( with cursor )*/
  --text-accent-hover: {accentHover};
  /*your normal simple text colour*/
  --text-normal: {foreground};
  /*setting and file explorer folder text*/
  --text-muted: {textSecondary};
  /*settings headers and '>' character for file explorer*/
  --text-faint: {textDisabled};
  --text-error: {error};
  --text-error-hover: {error};
  /*your highlighter colour*/
  --text-highlight-bg: {highlight};
  /*background colour when highlighting text with mouse*/
  --text-selection: {selection};
  --text-on-accent: {textInverse};
  --metadata-background: {surface};
}}

.theme-dark .nav-folder-title-content::before {{
  color: {error}77 !important;
}}

body {{
  --tab-stacked-pane-width: 100%;
}}

.nav-folder-title-content:first-child {{
  /*background: linear-gradient(to bottom right, #34bd4b, #867ea3);*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(86, 100, 167, 0.5);
}}

/* files */
.nav-file-title-content:before {{
  content: "";
  background-image: url("https://www.w3.org/2000/svg");
  display: inline-block;
  width: 0.9rem;
  height: 0.9rem;
  margin-right: 0.4rem;

  background-color: {foreground};
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill=""><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z"/></svg>');
}}

.nav-file-title-content {{
  color: {foreground};
  font-weight: 500;
  font-size: 10pt;
  margin-left: -1.1rem;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}}

/* > icons */
.tree-item-self .tree-item-icon {{
  display: none !important;
}}

/* folders */

.nav-folder-title-content {{
  color: {accent};
  font-weight: 600;
  margin-left: -1.1rem;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}}

.is-collapsed .nav-folder-title-content {{
  color: {foreground};
  font-weight: 600;
}}

.nav-folder-title-content::before {{
  content: "";
  position: relative;
  background-image: url("https://www.w3.org/2000/svg");
  display: inline-block;
  width: 0.9rem;
  height: 0.9rem;
  margin-right: 0.4rem;
  background-color: {accent};
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M2.165 19.551c.186.28.499.449.835.449h15c.4 0 .762-.238.919-.606l3-7A.998.998 0 0 0 21 11h-1V8c0-1.103-.897-2-2-2h-6.655L8.789 4H4c-1.103 0-2 .897-2 2v13h.007a1 1 0 0 0 .158.551zM18 8v3H6c-.4 0-.762.238-.919.606L4 14.129V8h14z"></path></svg>');
}}

.is-collapsed .nav-folder-title-content::before {{
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 5h-8.586L9.707 3.293A.997.997 0 0 0 9 3H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V7c0-1.103-.897-2-2-2zM4 19V7h16l.002 12H4z"></path></svg>');
}}

/* Search */
.search-result .search-result-file-title {{
  cursor: pointer;
}}

.search-result .collapse-icon {{
  cursor: {foreground};
}}

.search-result:not(.is-collapsed) .search-result-file-title {{
  color: {accent};
}}

/* File tab separators */
.workspace .mod-root .workspace-tab-header-inner::after {{
  right: unset;
  left: -0.5px;
}}

.workspace .mod-root .workspace-tab-header:last-child .workspace-tab-header-inner::before {{
  position: absolute;
  right: -0.5px;
  width: 1px;
  background-color: var(--tab-divider-color);
  content: '';
  height: 20px;
}}

.workspace .mod-root  .workspace-tab-header.is-active .workspace-tab-header-inner::after,
.workspace .mod-root  .workspace-tab-header.is-active .workspace-tab-header-inner::before,
.workspace .mod-root  .workspace-tab-header:first-child .workspace-tab-header-inner::after,
.workspace .mod-root  .workspace-tab-header.is-active + .workspace-tab-header .workspace-tab-header-inner::after {{
  opacity: 0;
}}

/* Editor and output */
.markdown-rendered blockquote {{
  /*change the padding / distance of text in quote blocks*/
  padding: var(--embed-padding);
}}

/*latex related*/
mjx-container {{
  text-align: left !important;
}}

/*latex code block*/
.math-block {{
  /*control the font size of math block ---> not inline*/
  font-size: 17px;
  /*center the math block*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}}

.markdown-preview-section > div h1,
.markdown-preview-section > div h2,
.markdown-preview-section > div h3,
.markdown-preview-section > div h4,
.markdown-preview-section > div h5,
.markdown-preview-section > div h6 {{
  /*"distance" between headings*/
  margin-top: 40px;
}}

.mod-header + div h1,
.mod-header + div h2,
.mod-header + div h3,
.mod-header + div h4,
.mod-header + div h5,
.mod-header + div h6 {{
  margin-top: 30px;
}}

.cm-sizer > .inline-title {{
  margin-bottom: 20px;
}}

/* Miscellaneous */
.theme-dark .dropdown:hover {{
  background-color: var(--background-modifier-form-field);
}}

/*controls the colour "help" on hover ( with cursor )*/
.tooltip {{
  color: {foreground};
  background-color: {overlay};
}}

.view-header-title {{
  text-decoration: underline;
  text-decoration-color: var(--text-muted);
  text-underline-offset: 1.5px;
}}

/*status bar found below*/
.status-bar {{
  /*border-color: var(--panel-border-color);*/
  border-color: var(--panel-border-color);
  /*border width size*/
  border-width: 1px;
  /*size of padding for status bar*/
  padding: 4px 30px;
}}

.theme-dark button.mod-warning {{
  --background-modifier-error: {error}33;
  --background-modifier-error-hover: {error}33;
}}


.token.comment, .token.prolog, .token.doctype, .token.cdata,
.HyperMD-codeblock .cm-comment {{
  color: {syntaxComment} !important;
}}

.token.punctuation,
.HyperMD-codeblock .cm-hmd-codeblock, .HyperMD-codeblock .cm-bracket {{
  color: {foreground} !important;
}}

.token.selector, .token.tag,
.HyperMD-codeblock .cm-tag, .HyperMD-codeblock .cm-property, .HyperMD-codeblock .cm-meta, .HyperMD-codeblock .cm-qualifier, .HyperMD-codeblock .cm-header, .HyperMD-codeblock .cm-quote, .HyperMD-codeblock .cm-hr, .HyperMD-codeblock .cm-link {{
  color: {syntaxComment} !important;
}}

.token.property, .token.boolean, .token.number, .token.constant, .token.symbol, .token.attr-name, .token.deleted,
.HyperMD-codeblock .cm-number, .HyperMD-codeblock .cm-atom, .HyperMD-codeblock .cm-attribute {{
  color: var(--orange) !important;
}}

.token.string, .token.char, .token.attr-value, .token.builtin, .token.inserted,
.HyperMD-codeblock .cm-string, .HyperMD-codeblock .cm-builtin {{
  color: var(--green) !important;
}}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string,
.HyperMD-codeblock .cm-string-2, .HyperMD-codeblock .cm-operator {{
  color: var(--aqua) !important;
}}

.token.atrule, .token.keyword,
.HyperMD-codeblock .cm-keyword {{
  color: var(--purple) !important;
}}

.token.function, .token.macro.property,
.HyperMD-codeblock .cm-def, .HyperMD-codeblock .cm-variable {{
  color: var(--blue) !important;
}}

.token.class-name,
.HyperMD-codeblock .cm-variable-2, .HyperMD-codeblock .cm-variable-3 {{
  color: var(--yellow) !important;
}}

.token.regex, .token.important, .token.variable {{
  color: var(--purple) !important;
}}

.token.important, .token.bold {{
  font-weight: bold !important;
}}

.token.italic {{
  font-style: italic !important;
}}

.token.entity {{
  cursor: help !important;
}}


/* markdown heading colours */
.cm-header-1,
.markdown-preview-view h1 {{
  color: var(--text-title-h1);
}}

.cm-header-2,
.markdown-preview-view h2 {{
  color: var(--text-title-h2);
}}

.cm-header-3,
.markdown-preview-view h3 {{
  color: var(--text-title-h3);
}}

.cm-header-4,
.markdown-preview-view h4 {{
  color: var(--text-title-h4);
}}

.cm-header-5,
.markdown-preview-view h5 {{
  color: var(--text-title-h5);
}}

.cm-header-6,
.markdown-preview-view h6 {{
  color: var(--text-title-h6);
}}

/*
 * Color for bold, remove "strong", to only apply for source view.
 */
/*strong, .cm-s-obsidian span.cm-formatting-strong, .cm-s-obsidian span.cm-strong {{
  color: {success};
}}*/

/* Change the color of italicised text.
 * Remove `em, ` to only work in source view
*/
/*em, .cm-s-obsidian span.cm-formatting-em, .cm-s-obsidian span.cm-em {{
  color: {error};
}}
*/

/***********************
  EDIT MODE (CodeMirror)
***********************/
.cm-s-obsidian {{
  /* Base colors */
  --code-background: {surface}; /* Code block background */

  /* Syntax highlighting */
  .cm-comment {{ color: {syntaxComment} !important; }}      /* Comments */
  .cm-keyword {{ color: {syntaxKeyword} !important; }}      /* Keywords */
  .cm-string {{ color: {syntaxString} !important; }}      /* Strings */
  .cm-builtin {{ color: {syntaxKeyword} !important; }}      /* Builtins */
  .cm-def {{ color: {syntaxFunction} !important; }}          /* Functions */
  .cm-tag {{ color: {syntaxNumber} !important; }}          /* HTML tags */
  .cm-attribute {{ color: {syntaxDocTag} !important; }}    /* Attr names */
  .cm-number {{ color: {syntaxNumber} !important; }}       /* Numbers */
  .cm-property {{ color: {syntaxType} !important; }}     /* Properties */
  .cm-qualifier {{ color: {syntaxConstant} !important; }}    /* Constants */
  .cm-operator {{ color: {syntaxOperator} !important; }} /* Operators */
}}

/***********************
  READ MODE (Preview)
***********************/
.markdown-preview-view {{
  /* Syntax highlighting */
  .token.comment {{ color: {syntaxComment} !important; }}        /* Comments */
  .token.keyword {{ color: {syntaxKeyword} !important; }}        /* Keywords */
  .token.string {{ color: {syntaxString} !important; }}        /* Strings */
  .token.function {{ color: {syntaxFunction} !important; }}       /* Functions */
  .token.class-name {{ color: {syntaxClass} !important; }} /* Classes */
  .token.number {{ color: {syntaxNumber} !important; }}         /* Numbers */
  .token.operator {{ color: {syntaxOperator} !important; }}   /* Operators */
  .token.tag {{ color: {syntaxNumber} !important; }}            /* HTML tags */
  .token.attr-name {{ color: {syntaxDocTag} !important; }}      /* Attr names */
  .token.attr-value {{ color: {syntaxString} !important; }} /* Attr values */
  .token.constant {{ color: {syntaxConstant} !important; }}       /* Constants */
  .token.selector {{ color: {syntaxString} !important; }}      /* CSS selectors */
  .token.important {{ color: {syntaxDocTag} !important; }}      /* !important */
  .token.builtin {{ color: {syntaxKeyword} !important; }}
}}

.markdown-preview-view :not(pre) > code {{
  --code-background: {highlightActive};
  color: {foreground} !important;
}}

.cm-inline-code {{
  --code-background: {highlightActive};
}}

/* Inline code */
:not(pre)>code[class*='language-'] {{
  /*controls the padding for code in preview mode*/
  padding: .1em !important;
  border-radius: .3em !important;
  white-space: normal !important;
}}

/* Code related text formatting */
code[class*='language-'], pre[class*='language-'] {{
  font-weight: 600;
  text-align: left !important;
  white-space: pre !important;
  word-spacing: normal !important;
  word-break: normal !important;
  word-wrap: normal !important;
  line-height: 1.5 !important;
  tab-size: 4 !important;
  hyphens: none !important;
  
}}

/*Code blocks*/
pre[class*='language-'] {{
  font-weight: 600;
  /*controls the padding for code blocks ( horizontally ) in preview mode*/
  padding: 1em !important;
  /*controls the margin for code blocks in preview mode*/
  margin: .5em 0 !important;
  /*shows scrollbar if the code "overflows"*/
  overflow: auto !important;
}}

/* Shared code block styling */
pre[class*="language-"],
.markdown-preview-view pre,
.cm-s-obsidian .HyperMD-codeblock {{
  background: {surface} !important;
  color: {foreground} !important;
  font-family: 'SF Mono' !important;
  font-weight: 600 !important;
}}

.inline-title {{
  border-bottom: 1px solid {border};
  padding-bottom: 0.2em;
}}

.cm-sizer > .inline-title {{
  margin-bottom: 0.25em;
}}

.metadata-container {{
  margin-block-end: 0px !important;
  padding: 6px 10px 6px 6px !important;
  border-radius: 4px !important;
  margin-left: 5px !important;
}}

.metadata-container.is-collapsed {{
  background-color: transparent !important;
}}

.metadata-container .collapse-indicator {{
  margin-left: -5px !important;
}}

.metadata-container + * {{
  padding-top: 1em;
}}

.metadata-container.is-collapsed + * {{
  padding-top: 0px !important;
}}

.metadata-container {{
  margin-top: 2px !important;
}}

.metadata-container.is-collapsed {{
  padding-bottom: 0px !important;
  margin-top: 2px !important;
}}
