[Desktop Entry]
Type=Application
Version=1.0
Name=Dolphin (focus or launch)
Comment=Focus existing Dolphin window, or launch a new one
Exec=/home/hieroja/dotfiles/scripts/kde/open-program/focus-or-launch.sh org.kde.dolphin -- dolphin
Icon=system-file-manager
Categories=System;FileTools;FileManager;
NoDisplay=true
StartupNotify=false
Terminal=false
