[Desktop Entry]
Type=Application
Version=1.0
Name=Konsole (focus or launch)
Comment=Focus existing Konsole window, or launch a new one
Exec=/home/hieroja/dotfiles/scripts/kde/open-program/focus-or-launch.sh org.kde.konsole -- konsole
Icon=utilities-terminal
Categories=System;TerminalEmulator;
NoDisplay=true
StartupNotify=false
Terminal=false
