@import "colors/pare-colors.css";

:root {
  /*
  --color-gray-05: red !important;
  --color-gray-50: red !important;
  --color-gray-60: red !important;
  --color-gray-70: red !important;
  --color-gray-80: red !important;
  --color-gray-90: red !important;
  --color-gray-100:red !important;
  --newtab-background-color: blue !important;
  --newtab-background-color-secondary: cyan !important;
  --newtab-text-primary-color: #b1d158 !important;
  --newtab-contextual-text-primary-color: light-dark(green, var(--newtab-text-primary-color));
  --newtab-primary-action-background-pocket: #00ddff;
  --newtab-primary-action-background-pocket-dimmed: color-mix(in srgb, var(--newtab-primary-action-background) 25%, transparent);
  --newtab-primary-element-hover-color: color-mix(in srgb, var(--newtab-primary-action-background) 55%, #FFF);
  --newtab-primary-element-hover-pocket-color: color-mix(in srgb, var(--newtab-primary-action-background-pocket) 55%, #FFF);
  --newtab-element-hover-color: color-mix(in srgb, var(--newtab-background-color) 80%, #FFF);
  --newtab-element-active-color: color-mix(in srgb, var(--newtab-background-color) 60%, #FFF);
  --newtab-element-secondary-color: color-mix(in srgb, currentColor 10%, transparent);
  --newtab-element-secondary-hover-color: color-mix(in srgb, currentColor 17%, transparent);
  --newtab-element-secondary-active-color: color-mix(in srgb, currentColor 30%, transparent);
  --newtab-border-color: color-mix(in srgb, var(--newtab-background-color) 75%, #FFF);
  --newtab-primary-element-text-color: red !important;;
  */
}
@-moz-document url("about:home"),url("about:blank"),url("about:newtab"),url("about:privatebrowsing") {
  body {background: var(--bg-color) !important}
  
}

/*it change the topsites too
@-moz-document url(chrome://browser/content/browser.xul),
url(about:newtab), url(about:home) 
{body 
{ 
--newtab-background-color-secondary: red !important; 
}
*/

* {
  scrollbar-color: var(--blue-color) var(--bg-color) !important;
  font-family: var(--global-font);
  font-weight: 500;
  text-rendering: geometricPrecision !important;
}
